@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body{
  font-family: 'Public Sans', sans-serif;
  font-size: 1.6rem;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
  color: #000;
}



/* === === HEADER === === */
header{
  width: 100%;
}

.container{
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px 0;
}

header nav ul{
  display: flex;
}

header nav ul li a{
  padding: 10px;
  color: gray;
}

.nav-button .button, .button{
  padding: 10px 30px;
  color: #fff;
  background: rgb(50,209,102);
  background: linear-gradient(90deg, rgba(50,209,102,1) 0%, rgba(46,198,151,1) 35%, rgba(44,186,208,1) 100%);
  border-radius: 20px;
  border: none;
  cursor: pointer;
}
/* === === END HEADER === === */



/* === === SECTION HERO === === */
section.hero{
  width: 100%;
  padding: 70px 0;
  background-image: url(./images/bg-intro-desktop.svg);
  background-position-x: 141%;
  background-position-y: 70%;
  background-repeat: no-repeat;
  background-size: 67% 156%;
  position: relative;
}

aside h1{
  font-size: 6rem;
  font-weight: 400;
  margin-bottom: 20px;
}

aside p{
  font-size: 1.8rem;
  margin-bottom: 40px;
}

.img-cel{
  right: 0;
  position: absolute;
}


/* === === END SECTION HERO === === */

