@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body{
  font-family: 'Public Sans', sans-serif;
  font-size: 1.6rem;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
  color: #000;
}

img{
  display: block;
  max-width: 100%;
}

:root{
  --color-title: hsl(233, 26%, 24%);
  --color-p: hsl(233, 8%, 62%);
  --color-bg-principal: linear-gradient(90deg, rgba(50,209,102,1) 0%, rgba(46,198,151,1) 35%, rgba(44,186,208,1) 100%);
}



/* === === HEADER === === */
header{
  width: 100%;
}

.container{
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px 0;
}

header nav ul{
  display: flex;
}

header nav ul li a{
  padding: 10px;
  color: var(--color-p);
}

.nav-button .button, .button{
  display: block; /*para modificar a altura e largura*/
  max-width: 200px;
  height: 40px;
  text-align: center;
  padding: 10px 30px;
  color: #fff;
  background: rgb(50,209,102);
  background: var(--color-bg-principal);
  border-radius: 20px;
  border: none;
  cursor: pointer;
}
/* === === END HEADER === === */



/* === === SECTION HERO === === */
section.hero{
  width: 100%;
  padding: 120px 0;
  background: hsl(0, 0%, 98%);
  background-image: url(./images/bg-intro-desktop.svg);
  background-position-x: 141%;
  background-position-y: 70%;
  background-repeat: no-repeat;
  background-size: 67% 156%;
}

.container-hero{
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
}

aside h1{
  font-size: 5.5rem;
  color: var(--color-title);
  font-weight: 400;
  margin-bottom: 20px;
}

aside p{
  max-width: 440px;
  font-size: 1.8rem;
  color: var(--color-p);
  line-height: 2.8rem;
  margin-bottom: 40px;
}

.image-mockups{
  width: 500px;
  position: absolute;
  top: -119px;
  right: -6px;
}
/* === === END SECTION HERO === === */



/* === === SECTION PRINCIPAL === ===*/
section.principal{
  width: 100%;
  padding: 90px 0;
  background: hsl(220, 16%, 96%);
}

.container-principal{
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.grid-1 h1{
  font-size: 4rem;
  color: var(--color-title);
  font-weight: 400;
  margin-bottom: 20px;
}

.grid-1 p{
  font-size: 1.8rem;
  color: var(--color-p);
  line-height: 2.8rem;
  margin-bottom: 60px;
}

.grid-2{
  display: grid;
  column-gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.grid-item-img{
  margin-bottom: 40px;
}

.grid-item h3{
  font-size: 2.5rem;
  color: var(--color-title);
  font-weight: 400;
  margin-bottom: 20px;
}

.grid-item p{
  color: var(--color-p);
}



/* === === SECTION ARTICLE === === */
section.article{
  width: 100%;
  padding: 90px 0;
  background: hsl(0, 0%, 98%);
}

.container-article{
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.cards{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  column-gap: 30px;
}

.card-desc{
  background-color: #fff;
  padding: 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.cards .card-item{
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.cards .card-item:hover{
  box-shadow: 0px 1px 9px -3px #000;
  transform: translateY(-7px);
}

.cards .card-img-1{
  background-color: hsl(0, 0%, 98%);
  background-image: url('./images/image-currency.jpg');
}

.cards .card-img-2{
  background-color: hsl(0, 0%, 98%);
  background-image: url('./images/image-restaurant.jpg');
}

.cards .card-img-3{
  background-color: hsl(0, 0%, 98%);
  background-image: url('./images/image-plane.jpg');
}

.cards .card-img-4{
  background-color: hsl(0, 0%, 98%);
  background-image: url('./images/image-confetti.jpg');
}

.card-img-1,
.card-img-2,
.card-img-3,
.card-img-4{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 200px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.container-article h1{
  font-size: 4rem;
  color: var(--color-title);
  font-weight: 400;
  margin-bottom: 50px;
}

.article .card-desc .autor{
  font-size: 10px;
  margin-bottom: 10px;
  color: var(--color-p);
}

.article .card-desc h3{
  font-size: 1.8rem;
  font-weight: 300;
  margin-bottom: 10px;
}

.article .card-desc p{
  font-size: 1.5rem;
  color: var(--color-p);
}
/* === === END SECTION ARTICLE === === */



/* === === FOOTER === ===*/
footer{
  width: 100%;
  background: #2C304C;
  padding: 40px 0;
}

.footer-container{
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 30px;
}

.contatos-footer .logo-footer{
  background: #ffffff;
  width: 150px;
  height: 30px;

  display: grid;
  align-items: center;
  border-radius: 30px 5px;
  padding: 5px;
  margin-bottom: 30px;
}

.footer-container .redes-sociais-footer{
  display: flex;
}

.footer-container .redes-sociais-footer img{
  padding: 0 5px;
}

.footer-container .menu-footer li a{
  color: #fff;
  display: block;
  padding: 15px 0;
}

.footer-container .menu-footer li a:first-child{
  padding-top: 0;
}

.footer-container .button-footer{
  display: grid;
  justify-items: flex-end;
  color: var(--color-p);
}

.footer-container .button-footer a{
  margin-bottom: 20px;
}


/* === === END FOOTER === ===*/



/* === === MOBILE | MEDIAS QUERYS === ===*/
@media(max-width: 1211px){
  .grid-2,
  .cards{
    row-gap: 40px;
  }
}

@media(max-width: 1040px){
  aside h1{
    font-size: 4rem;
  }

  aside p{
    font-size: 1.6rem;
  }
}

@media(max-width: 1024px){
  aside p{
    max-width: 350px;
  }
}

@media(max-width: 910px){
  .mockups img{
    width: 450px;
  }
}

@media(max-width: 858px){
  section.hero{
    padding: 0;
    background-image: none;
  }

  .container-hero{
    width: 100%;
    grid-template-columns: 1fr;
  }

  aside{
    display: grid;
    justify-items: center;
    text-align: center;
    padding: 0 10px;
  }

  section.hero .container-hero .button{
    margin-bottom: 60px;
  }

  .mockups{
    display: grid;
    justify-items: center;
    grid-row: 1;
    background-image: url('./images/bg-intro-mobile.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .image-mockups{
    position: initial;
  }

  .footer-container{
    grid-template-columns: 1fr 1fr;
    row-gap: 30px;
  }

  .footer-container .button-footer{
    justify-items: flex-start;
  }
}

@media(max-width: 768px){
  .nav-button .button{
    padding: 10px 15px;
  }
}

@media(max-width: 690px){
  nav{
    display: none;
  }

  .one, .two, .three{
    background-color: #2C304C;
    height: 4px;
    width: 100%;
    margin: 6px auto;
    cursor: pointer;
    transition-duration: 0.4s;
  }

  .menu-toggle{
    width: 40px;
    height: 30px;
  }

  .menu-section.on{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(50,209,102);
    background: linear-gradient(180deg, rgba(50,209,102,1) 0%, rgba(46,198,151,1) 35%, rgba(44,186,208,1) 100%);
    width: 100vw;
    height: 100vh;
    z-index: 10;
  }

  .menu-section.on nav{
    display: block;
  }

  .menu-section.on .menu-toggle{
    position: absolute;
    right: 36px;
    top: 29px;
  }

  .menu-section.on .menu-toggle .one{
    transform: rotate(45deg) translate(7px, 7px);
  }

  .menu-section.on .menu-toggle .two{
    opacity: 0;
  }

  .menu-section.on .menu-toggle .three{
    transform: rotate(-45deg) translate(7px, -9px);
  }

  .menu-section.on nav ul{
    display: block;
    text-align: center;
  }

  .menu-section.on nav ul li a{
    display: block;
    font-size: 3rem;
    line-height: 4rem;
    margin: 40px 0;
    color: #2C304C;
  }
}

@media(max-width: 589px){
  .grid-1{
    display: grid;
    justify-items: center;
    text-align: center;
  }

  .grid-item{
    display: grid;
    justify-items: center;
    text-align: center;
  }

  .footer-container{
    grid-template-columns: 1fr;
    row-gap: 20px;
    justify-items: center;
    text-align: center;
  }

  .footer-container .button-footer{
    justify-items: center;
  }
}

@media(max-width: 500px){
  .menu-section.on .menu-toggle{
    right: 23px;
  }
}